<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <connectionStrings>
    <add name="CentralServiceConnectionString" connectionString="Data Source=86-sp-dsis-01\sql2008r2;Initial Catalog=ITS_403_URBD;Persist Security Info=True;User ID=sa;Password=12345678" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
