<div class="ui-state-highlight ui-corner-all" style="margin-top: 20px; padding: 0.5em;
    font-size: 0.8em">
    <p>
        <span class="ui-icon ui-icon-info" style="float: left; margin-right: 0.3em;"></span>
        @Model
    </p>
</div>
