/*----------------------------------------------------------
The base color for this template is #5c87b2. If you'd like
to use a different color start by replacing all instances of
#5c87b2 with your new color.
----------------------------------------------------------*/
body
{
    font-size: 0.85em;
    font-family: "Trebuchet MS" , Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    
}

p, ul
{
    margin-bottom: 20px;
    line-height: 1.6em;
}

header, footer, nav, section
{
    display: block;
}

/* HEADINGS   
----------------------------------------------------------*/
d, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #000;
}

h2
{
}

h1
{
    font-size: 2em;
    padding-bottom: 0;
    margin-bottom: 0;
}

h3
{
    font-size: 1.2em;
}

h4
{
    font-size: 1.1em;
}

h5, h6
{
    font-size: 1em;
}

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

/* you can specify a greater or lesser percentage for the 
page width. Or, you can specify an exact pixel width. */
.page
{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

header, #header
{
    padding: 00px 10px 0px 10px;
    position: relative;
    margin-bottom: 0px;
    color: #000;
    width: 98%;
}


#main
{
    padding: 10px 10px 15px 10px;
    background-color: #fff;
    border-radius: 4px 0 0 0;
    -webkit-border-radius: 4px 0 0 0;
    -moz-border-radius: 4px 0 0 0;
}

footer, #footer
{
    background-color: #fff;
    color: #999;
    padding: 10px 0;
    text-align: center;
    line-height: normal;
    margin: 0 0 30px 0;
    font-size: .9em;
    border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
}

/* TAB MENU   
----------------------------------------------------------*/
ul#menu
{
    border-bottom: 1px #5C87B2 solid;
    padding: 0 0 2px;
    position: relative;
    margin: 0;
    text-align: right;
}

ul#menu li
{
    display: inline;
    list-style: none;
}

ul#menu li#greeting
{
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    color: #fff;
}

ul#menu li a
{
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    background-color: #e8eef4;
    color: #034af3;
    border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
}

ul#menu li a:hover
{
    background-color: #fff;
    text-decoration: none;
}

ul#menu li a:active
{
    background-color: #a6e2a6;
    text-decoration: none;
}

ul#menu li.selected a
{
    background-color: #fff;
    color: #000;
}

/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/

fieldset
{
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend
{
    font-size: 1.2em;
    font-weight: bold;
}

textarea
{
    min-height: 75px;
}

input[type="text"], input[type="password"]
{
    border: 1px solid #ccc;
    padding: 2px;
    color: #444;
    width: 350px;
}

button 
{
    font-size: 1em;
}

select
{
    border: 1px solid #ccc;
    padding: 2px;
    font-size: 1.2em;
    color: #444;
}

input[type="submit"]
{
    padding: 5px;
}

/* TABLE
----------------------------------------------------------*/

table.configuration 
{
    border: 0px;
    border-collapse: collapse;
}

table.configuration td
{
    border: 0px;
    border-collapse: collapse;
}

table.configuration td.param-name
{
    text-align: right;
    font-weight: bold;
}

table
{
    border: solid 1px #e8eef4;
    border-collapse: collapse;
}

table td
{
    padding: 2px;
    border: solid 1px #e8eef4;
    vertical-align: text-top;
    font-size: 0.8em;
}

table td.group
{
    background-color: #C5DDFC;
    color: #000000;
    font-weight: bold;
}

table th
{
    padding: 2px 2px;
    text-align: left;
    background-color: #e8eef4;
    border: solid 1px #e8eef4;
    font-size: 0.85em;
}

table td.success
{
    background-color: #6DBC45;
    font-weight: bold;
    color: #ffffff;
}

table td.blank
{
    background-color: #ffffff;
    font-size: 1.2em;
}

table td.fail
{
    background-color: #ED5226;
    font-weight: bold;
    color: #ffffff;
}

table td.warning
{
    background-color: #F2B979;
    font-weight: bold;
    color: #ffffff;
}

table td.busy
{
    background-color: #3AA8E9;
    font-weight: bold;
    color: #ffffff;
}

table td.interrupt
{
    background-color: #666633;
    font-weight: bold;
    color: #ffffff;
}

/* MISC  
----------------------------------------------------------*/
.clear
{
    clear: both;
}

.error
{
    color: Red;
}

nav, #menucontainer
{
    margin-top: 40px;
}

div#title
{
    display: block;
    float: left;
    text-align: left;
}

div#exchange_dialog 
{
    /*text-align: center;*/
    width:auto;
}
div#exchange_dialog div
{
    padding: 5px;
    width:auto;
}

div.content
{
    margin: 20px 0 0 250px;
    min-height: 360px;
    display: block;
}

div.content-empty 
{
    display: none;
}

#logindisplay
{
    font-size: 1.1em;
    display: block;
    text-align: right;
    margin: 10px;
    color: White;
}

#sidebar 
{
    margin: 0;
    position: absolute;
    width: 230px;    
}

#sidebar ul li {
    line-height: 28px;
    margin: 0;
    min-height: 28px;
    position: relative;
}
#sidebar ul {
    border-top: 1px solid #DDDDDD;
    font-size: 13px;
    margin: 0;
    padding: 0;
    list-style: none outside none;
    counter-reset: ordered-list-item;
}

#sidebar ul a:hover, #sidebar ul a.selected {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #000000;
    text-decoration: none;
    z-index: 1;
}

#sidebar ul a.empty 
{
    background: none repeat scroll 0 0 #F7F7F7;
    font-weight:bold;
    color: #666666;
}

#sidebar ul a:before {
    background: none repeat scroll 0 0 #FFFFFF;
    content: "";
    display: block;
    height: 1px;
    left: 1px;
    position: absolute;
    right: 1px;
    bottom: 1px;
    top:1px;
}

#sidebar ul a {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #F7F7F7;
    border-color: -moz-use-text-color #DDDDDD #DDDDDD;
    border-right: 1px solid #DDDDDD;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    color: #666666;
    display: block;
    padding: 0 12px;
    text-decoration: none;
}

#logindisplay a:link
{
    color: white;
    text-decoration: underline;
}

#logindisplay a:visited
{
    color: white;
    text-decoration: underline;
}

#logindisplay a:hover
{
    color: white;
    text-decoration: none;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

/* Styles for editor and display helpers
----------------------------------------------------------*/
.display-label, .editor-label
{
    margin: 1em 0 0 0;
}

.display-field, .editor-field
{
    margin: 0.5em 0 0 0;
}

.text-box
{
    width: 30em;
}

.text-box.multi-line
{
    height: 6.5em;
}

.tri-state
{
    width: 6em;
}
